.all_components{
    height: 100%;
    width: 160px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 75.5%;
    padding-top: 110px;
}

.black{
    width: 260px;
    height: 294px;
    background: #F6F8FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.widget{
    width: 260px;
    height: 529px;
    background: #F6F8FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.widget_news_div{
    width: 260px;
    height: 605px;
    background: #F6F8FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.lobmen_widget{
    width: 260px;
    height: 366px;
    background: #F6F8FA;
    border-radius: 4px;
}