*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background: #050C45;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.container{
    width: 90%;
    max-width: 1180px;
    margin: 30px auto 40px;
}

.homeobmentable{
    background: #fff;
    width: 840px;
    min-height:100vh;
    border-radius: 4px;
    /*position: absolute;*/
    /*top: 100px;*/
}

